.info {
  display: flex;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-evenly;
  margin-top: 1rem;
  height: 90vh;
}

.title {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 20px;
  margin-left: 2rem;
}

@media (max-width: 1120px) {
  .hero {
    background-image: none;
    background-color: #00ADB5;
    padding: 1rem 0;
    margin-top: auto;
    height: auto;
  }
  .cta {
    align-items: center;
  }
  .cta-wrapper {
    width: 100%;
    padding: 0;
    justify-content: center;
    padding-right: none;
  }
  .text-left {
    text-align: center;
  }
}

@media (max-width: 830px) {
  .info {
    grid-template-columns: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .info-card {
    margin: 0.5rem 0;
  }
}